
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif !important;

}

/*HEADER*/

.navbar-brand {
    font-size: 3rem;
    font-weight: bold;
    color: red;
    margin: 0;
    padding: 0;
}

.logo {
    margin: 0;
    max-width: 150px;
}

.offcanvas-body {
    font-size: 20px;
}
.navbar-toggler-icon {
    background-image: linear-gradient(rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.5)), url("../img/background-img/hamburguer.png");
}
.navbar-toggler {
    border: 1px solid rgb(225, 225, 225);

}

/* .navbar-brand img {
    max-width: 150px;
    border: 1px solid red;
    height: auto;
    width: 30%;
} */

a .nav-item {
    font-weight: bold;
}

body {
    color: var(--preto);
    margin-top: 90px;
}
/*HEADER*/




#container-main {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
   
}

/* -------------------------------------------------------------------- */
/* --------------------------container-home1--------------------------- */
/* -------------------------------------------------------------------- */

#text {
    text-transform: uppercase;
}

.text1 {
    font-size: 15px;
}

.text2 {
    font-size: 25px;
}

.text3 {
    font-size: 10px;
}

h2 {
    text-transform: uppercase
}

p {
    font-size: 15px
}

#container-home-1 h2 {
    text-align: center;
    padding-bottom: 20px;
    text-transform: uppercase;
    font-size: 20px;
}

#container-home-1 {
    height: 400px;
    width: 100%;

    display: flex;
    position: relative;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    background-image: linear-gradient(rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.3)), url("../img/background-img/background6.png");
    background-size: cover;
    background-position: center center;
}

.shop-button {
    /* padding: 10px */
    margin-top: 50px;
    width: 150px;
    height: 30px;
    /* border-radius: 0; */
    background-color: var(--first-color);
    text-transform: uppercase;
    cursor: pointer;
}

/* -------------------------------------------------------------------- */
/* --------------------------container-home2--------------------------- */
/* -------------------------------------------------------------------- */

#container-home-2 h2,
p {
    text-align: left;
    padding: 10px;
}

#container-home-2 {
    border: 3px solid red;
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    /* gap: 10px; */

}

#description {
    border: 3px solid green;
    margin: 0;
    height: 100%;
    min-width: 30%;  
    max-width: 50%;  
}

@media (max-width: 1300px) {
    #container-home-2 {

      flex-direction: column;
      align-items: center;
    }
    #description {
        max-width: 800px;
    }
    #description h2 {
        text-align: center;
    }
    .title-bt h2{
        text-align: center !important;
    }
    .carousel-item .img-fluid {
        max-width: 200px;
    }
  }

.title-bt {
    border: 3px solid green;
}

/*********************************************************************/
/* Bootstrap 4 Multiple Item Carousel */
/*********************************************************************/
/* medium - display 2  */
@media (min-width: 768px) {

    .carousel-inner .carousel-item-right.active,
    .carousel-inner .carousel-item-next {
        transform: translateX(50%);
    }

    .carousel-inner .carousel-item-left.active,
    .carousel-inner .carousel-item-prev {
        transform: translateX(-50%);
    }
}

/* large - display 3 */
@media (min-width: 992px) {

    .carousel-inner .carousel-item-right.active,
    .carousel-inner .carousel-item-next {
        transform: translateX(33%);
    }

    .carousel-inner .carousel-item-left.active,
    .carousel-inner .carousel-item-prev {
        transform: translateX(-33%);
    }
}

@media (max-width: 768px) {
    .carousel-inner .carousel-item>div {
        display: none;
    }

    .carousel-inner .carousel-item>div:first-child {
        display: block;
    }
}

.carousel-inner .carousel-item.active,
.carousel-inner .carousel-item-next,
.carousel-inner .carousel-item-prev {
    display: flex;
}

.carousel-inner .carousel-item-right,
.carousel-inner .carousel-item-left {
    transform: translateX(0);
}

.carousel-inner {
    border: 2px solid rgb(0, 68, 255);
}

.col-lg-2, .col-md-3 {
    margin: 0 !important;
    padding: 4px !important;
}

.font-weight-light {
    margin: 0;
}

.container {
    margin: 0 !important;
    border: 3px solid black;
    height: 100% !important;
}

.carousel-item .img-fluid {
    object-fit: cover;
    width: 100%;
    height: 100%;

}